{{#if username}}
<h1>Welcome {{username}}  </h1>
{{/if}}
<form method="POST" action="/users/techselect/{{id}}" >
    <select name="choice" required>
  <option value="Electrician" name="e">Electrician</option>
                      <option value="Plumber">Plumber</option>
                      <option value="Carpenter">Carpenter</option>
                      <option value="Mechanic">Mechanic</option>
</select>
<input type="submit" value="Submit" class="btn btn-dark">
</form>
<div class="row">
  
  {{#each user}}
  {{!-- <div class="col s12 m4">
    
     
     
        <h5>{{this.field}}</h5>
        
        <br>
          
            
             <a href="/technician/person/{{user.id}}"><i class="fa fa-user"></i> {{this.username}}</a>
          
      <h6>{{this.contact}}</h6>
     
   
  </div> --}}
  
  <div class="row">
    <div class="col-md-4" style="padding: 4rem;">
      <div class="card" style="width: 18rem;padding: 1rem;">
      <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{this.username}}</h5>
            <p class="card-text">{{this.field}}</p>
            <p>{{this.contact}}</p>
            <p>user id {{../id}}</p>
            <p>tech id {{this.id}}</p>
            <form action="/technician/{{this.field}}/{{../id}}/{{this.id}}" method="GET">
            {{!-- <a href="/technician/{{this.field}}/{{../id}}/{{this.id}}" class="btn btn-primary">Select</a> --}}
            <input  type="submit" class="btn btn-dark" value="submit">
            </form>
          </div>
    </div>
  </div>
</div>

  
  {{!-- {{else}}
  <p>No Technician with this field</p> --}}
 {{/each}}



{{!-- <p>{{jsonFormat user}}</p> --}}
{{!-- {{#each jsonFormat user}}
<p>{{user.id}}</p>
{{/each}} --}}
