<h1>Welcome {{username}} </h1>
{{#each results}}
<p>request from {{this.username}}</p>
<p>task {{this.task}}</p>
<p>amount {{this.amount}}</p>
<p>user contact : {{this.contact}}</p>
<form action="/technician/requestupdate/{{../id}}/{{../username}}/{{this.requestid}}" method="POST">
    <label for="Accept">Accept</label>
    <input type="radio" name="selection" value="Accept" id="Accept">
    <label for="Reject">Reject</label>
    <input type="radio" name="selection" value="Reject" id="Reject">
    <input type="submit" value="Select">
</form>

{{/each}}